apiVersion: apps/v1
kind: Deployment
metadata:
  name: geolocation-api-deployment
  namespace: geolocation
  labels:
    app: geolocation-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: geolocation-api
  template:
    metadata:
      labels:
        app: geolocation-api
    spec:
      containers:
      - name: geolocation-api
        image: gcr.io/PROJECT_ID/IMAGE:TAG
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
          - containerPort: 8080
        env:
          - name: POSTGRES_HOST
            valueFrom:
              configMapKeyRef:
                name: geolocation-config
                key: Postgres_host
          - name: POSTGRES_PORT
            valueFrom:
              configMapKeyRef:
                name: geolocation-config
                key: postgres_port
          - name: API_PORT
            valueFrom:
              configMapKeyRef:
                name: geolocation-config
                key: api_port
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: geolocation-secrets
                key: postgres_user
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: geolocation-secrets
                key: postgres_password
